{% extends "layout/panel_list.html" %}
{% set title="Votes" %}
{% set path="/votes" %}
{% set active='votes' %}
{% block list %}
	<!--Gets news stories-->
	{% for vote in votes %}
		{{panel.render("<a href='/vote/"+vote.id|string()+"/' class='pull-left'>"+vote.title+"</a>",
			vote.description|safe(),
			vote.id,
			buttons=timer(vote)|safe,
			collapse=true)
		}}
	{% else %}
		<div class="panel panel-primary">
			<div class="panel-body"><em>Unbelievable.  No entries here so far</em></div>
		</div>
	{% endfor %}
{% endblock %}
{%- macro timer(voter) -%}
	<span id="timer-{{voter.id}}">Timer</span>
	<script type="text/javascript">
		$(document).ready(function () {
			var language = window.navigator.userLanguage || window.navigator.language;
			var timer=$('#timer-{{voter.id}}');
			var panel=$('#panel-{{voter.id}}');
			var end=moment('{{voter.end_time}}','YYYY-MM-DD HH:mm:ss').add(moment().utcOffset(),'minutes').locale(language);
			var now=moment();
			timer.text(
				'Voting ends in '+end.fromNow(true)
			);
			var repeat = setInterval( function() {
				now=moment();
				timer.text(
					'Voting ends in '+end.fromNow(true) 
				);
				if (now.utc().isAfter(end)){
					panel.hide();
					window.location.reload();
				}
			}, 1000);
		});
	</script>	
	
	
{%- endmacro -%}
