{% extends "layout/main.html" %}
<!--Link and Title Replacements-->
{% block title %}404{%endblock%}
<!--Content-->
{% block content %}
	<div class="panel panel-primary">
		<div class="panel panel-heading">
			<div class="buttonbar">
				<div class="left">
					404 - Falcon not found
				</div>
				<div class="right">
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="center">
				<p>
				The page you were looking for either cannot be found or does not exist
				</p>
				<img src="{{url_for('static',filename='images/error.png')}}" width=40% class='img-rounded'>
			</div>
		</div>
	</div>
{% endblock %}
