{%- macro render(path,pages,current_page) -%}
	<!--Pages-->
	<div class="btn-group">
	{% if current_page>=2 %}
		<a class="btn btn-primary" href="{{path}}/{{1}}"><span class='glyphicon glyphicon-chevron-left'></span><span class='glyphicon glyphicon-chevron-left' ></span></a>
		<a class="btn btn-primary" href="{{path}}/{{current_page-1}}"><span class='glyphicon glyphicon-chevron-left'\></a>
		<a class="btn btn-primary" href="{{path}}/{{current_page-1}}"><strong>{{current_page-1}}</strong></a>
	{% endif %}
		<a class="btn btn-primary active" href="{{path}}/{{current_page}}"><strong>{{current_page}}</strong></a>
	{% if current_page<=pages-1 %}
		<a class="btn btn-primary" href="{{path}}/{{current_page+1}}"><strong>{{current_page+1}}</strong></a>
		<a class="btn btn-primary" href="{{path}}/{{current_page+1}}"><span class='glyphicon glyphicon-chevron-right' \></a>
		<a class="btn btn-primary" href="{{path}}/{{pages}}"><span class='glyphicon glyphicon-chevron-right'></span><span class='glyphicon glyphicon-chevron-right'></span></a>
	{% endif %}
	</div>
{%- endmacro -%}
