{%- macro textbox(path,type,id) -%}
	<a href="new/textbox" class="btn btn-success"><span class='glyphicon glyphicon-font'></span><span class='hidden-md hidden-sm hidden-xs'> Text Field<span></a>
{%- endmacro -%}
{%- macro textarea(path,type,id) -%}
	<a href="new/textarea" class="btn btn-success"><span class='glyphicon glyphicon-comment'></span><span class='hidden-md hidden-sm hidden-xs'> Textbox<span></a>
{%- endmacro -%}
{%- macro floatfield(path,type,id) -%}
	<a href="new/floatfield" class="btn btn-success"><span class='glyphicon glyphicon-sound-5-1'></span><span class='hidden-md hidden-sm hidden-xs'> Decimal Field<span></a>
{%- endmacro -%}
{%- macro integerfield(path,type,id) -%}
	<a href="new/integerfield" class="btn btn-success"><strong>1</strong><span class='hidden-md hidden-sm hidden-xs'> Integer Field<span></a>
{%- endmacro -%}
{%- macro checkbox(path,type,id) -%}
	<a href="new/checkbox" class="btn btn-success"><span class='glyphicon glyphicon-check'></span><span class='hidden-md hidden-sm hidden-xs'> Checkbox<span></a>
{%- endmacro -%}
{%- macro radiofield(path,type,id) -%}
	<a href="new/radiofield" class="btn btn-success"><span class='glyphicon glyphicon-record'></span><span class='hidden-md hidden-sm hidden-xs'> Radio Buttons<span></a>
{%- endmacro -%}
{%- macro selectfield(path,type,id) -%}
	<a href="new/selectfield" class="btn btn-success"><span class='glyphicon glyphicon-list-alt'></span><span class='hidden-md hidden-sm hidden-xs'> Select Field<span></a>
{%- endmacro -%}
