{%- macro render(field) -%}
	{%- if field.type=="DateTimeField" -%}
		<div class="form-group">
			<div class='input-group date' id='{{field.name}}_input'>
				<input id="{{field.name}}_local" required type='datetime' class="form-control" />
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
		<input id="{{field.id}}" name="{{field.name}}" class="hidden" required type="datetime" value="{{field.data}}">
	<script type="text/javascript">
		$(document).ready(function () {
			$('#{{field.name}}_local').val(moment('{{field.data}}','YYYY-MM-DD HH:mm:ss').add(moment().utcOffset(),'minutes').format('YYYY-MM-DD HH:mm:ss'));
			$('#{{field.name}}_input').datetimepicker({
                   		locale: 'en',
				format: 'YYYY-MM-DD HH:mm:ss',
				showTodayButton:true,
				useCurrent:false,
				defaultDate: moment('{{field.data}}','YYYY-MM-DD HH:mm:ss').add(moment().utcOffset(),'minutes').format('YYYY-MM-DD HH:mm:ss')
                	});
			$('#{{field.name}}_input').on('dp.change',function (event){
				var local=moment($('#{{field.name}}_local').val(),'YYYY-MM-DD HH:mm:ss')
				$("#{{field.id}}").val(local.utc().format('YYYY-MM-DD HH:mm:ss'));
			});
		});
	</script>
	{%- elif field.type=="BooleanField" -%}
		<div class='col-sm-14'>
			<div class="form-group">
				<div class="input-group">
					{{field}}&nbsp;{{field.label}}
				</div>
			</div>
		</div>	
	{%- else -%}
		<div class='col-sm-14'>
			<div class="form-group">
				<div class="input-group">
					{{field}}
				</div>
			</div>
		</div>	
	{%- endif -%}
	
{%- endmacro -%}
