{% extends "layout/main.html" %}
{% from 'buttons/delete.html' import delete %}
{% from 'buttons/edit.html' import edit %}
{% from 'buttons/results.html' import results %}
{% import 'nav/pages.html' as navpages %}
{% import 'util/panel.html' as panel %}
{% block content %}
		<div class="clearfix">
			<div class='pull-left'>
				{{navpages.render(path,pages,current_page)}}
			</div>
			<div class='btn-group pull-right'>
				{% block toolbar %}{% endblock %}
			</div>
		</div>
		<br />
		<!--Content Panels-->
		<div class="panel-group">
			{% block list %}
			{% endblock %}
		</div>
		<div class="clearfix">
			{{navpages.render(path,pages,current_page)}}
		</div>
{% endblock %}
