{% extends "layout/panel_list.html" %}
{% set title="Keys" %}
{% set path="/admin/keys" %}
{% set active='admin' %}
{% block toolbar %}
<button onClick="javascript:window.location.href='/admin/create_keys'" class="btn btn-success">New Keys</button>
<button onClick="javascript:window.location.href='/admin/print_keys'" class="btn btn-success">Print Keys</button>
<button onClick="javascript:window.location.href='/admin/delete_keys'" class="btn btn-danger">Delete Keys</button>
{% endblock %}
{% block list %}
	<!--Gets news stories-->
	{% for key in keys %}
		{{panel.render(key.key,
			"",
			key.id,
			buttons=buttons(key.id),
			collapse=false)
		}}
	{% else %}
		<div class="panel panel-primary">
			<div class="panel-body"><em>Unbelievable.  No entries here so far</em></div>
		</div>
	{% endfor %}
{% endblock %}
{% macro buttons(id) %}
	{{delete("/admin/key/"+id|string()+"/delete"|safe)}}
{% endmacro %}
