{%- macro render(heading,body,id,buttons="",collapse=false) -%}
	{% if collapse %}
		<div class="panel panel-primary" id="panel-{{id}}">
			<div class="panel panel-heading" data-toggle="collapse" data-target="#collapse{{id}}" data-parent="#panel-{{id}}">
				<div class="clear-fix">
					<div class='btn-group pull-left'>
						{{heading|safe}}
					</div>
					<div class='btn-group pull-right'>
						{{buttons|safe}}
					</div>
				</div>
			</div>
			{% if body %}
			<div id="collapse{{id}}" class="panel-body panel-collapse collapse">
				{{body|safe}}
			</div>
			{% endif %}
		</div>
	{% else %}
		<div class="panel panel-primary" id="panel-{{id}}">
			<div class="panel panel-heading">
				<div class="clear-fix">
					<div class='btn-group pull-left'>
						{{heading|safe}}
					</div>
					<div class='btn-group pull-right'>
						{{buttons|safe}}
					</div>
				</div>
			</div>
			{% if body %}
			<div class="panel-body">
				{{body|safe}}
			</div>
			{% endif %}
		</div>
	{% endif %}
{%- endmacro -%}
