{% extends "layout/panel_list.html" %}
{% set title="News" %}
{% set path="/news" %}
{% set active='news' %}
{% block list %}
	<!--Gets news stories-->
	{% for article in news %}
		{{panel.render("<a href='/article/"+article.id|string()+"/' class='pull-left'>"+article.title+"</a>",
			article.body|safe(),
			article.id,
			collapse=false)
		}}
	{% else %}
		<div class="panel panel-primary">
			<div class="panel-body"><em>Unbelievable.  No entries here so far</em></div>
		</div>
	{% endfor %}
{% endblock %}
