{%- macro render(active)-%}
	<!--Navbar-->
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation"><!--Nav-->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pvs-navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">PVS</a>
			</div>
			<div class="collapse navbar-collapse" id="pvs-navbar">
				<ul class="nav navbar-nav">
					<!--Home-->
					<li class="{% if active == 'home' %}active{% endif %}"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
					{% if g.user.is_authenticated() %}
					<li class="{% if active == 'news' %}active{% endif %}"><a href="/news"><span class="glyphicon glyphicon-list-alt"></span> News</a></li>
					<li class ="{% if active == 'votes' %}active{% endif %}"><a href="/votes"><span class="glyphicon glyphicon-inbox"></span> Votes</a></li>
					{% endif %}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if g.user.is_authenticated() %}
						{% if g.user.is_admin() %}
							<li class="dropdown {% if active == 'admin' %}active{% endif %}">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> Admin <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="/admin/users">Users</a></li>
										<li><a href="/admin/keys">User Keys</a></li>
										<li><a href="/admin/news">News</a></li>
										<li><a href="/admin/votes">Votes</a></li>
										<li><a href="/admin/docs">Documentation</a></li>
									</ul>
							</li>
						{% endif %}
						<li class="dropdown {% if active == 'users' %}active{% endif %}">
							<a href="/users/user/{{g.user.id}}/account" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Account <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/logout">Logout</a></li>
								<li><a href="/account">Account</a></li>
							</ul>
						</li>
					{% else %}
					<li class="dropdown {% if active == 'users' %}active{% endif %}">
						<a href="/login" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/login">Login</a></li>
							<li><a href="/register">Register</a></li>
						</ul>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>
{%- endmacro -%}
